<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Cards</title>
    <link rel="stylesheet" href="stylesheets/card.css">
</head>
<body>
    <div class = "header">
        <h2>Today_Card</h2>
        <p>(카드는 하루에 한 장만 뽑을 수 있습니다)</p>
    </div>
   
    <div class="container">
        <% for (let i = 1; i <= 8; i++) { %>
            <div class="box box<%= i %> card<%= i %>">
                <img src="/imgs/card.jpeg">
            </div>
        <% } %>
    </div>

    <div class="btn" >
        <input type = "button" value = "뽑기" onclick = "shuffleCards()">
    </div>
    <div class = "footer">
        <input type = "button" value = "홈으로" onclick ="window.location.href = '/ExpertFilter'" >
    </div>

    <script>
        function shuffleCards() {
            const cards = document.querySelectorAll('.container > .box');

            cards.forEach(card => {
                card.style.animation = 'none';
                card.offsetHeight; /* 리플로우 강제 */
                card.style.animation = null;
            });

            cards.forEach((card, index) => {
                setTimeout(() => {
                    card.style.animation = `shuffle${index -1} 3s forwards`;
                }, index * 100);
            });

            cards[cards.length - 1].addEventListener('animationend', () => {
                cards.forEach(card => {
                    card.style.animation = 'scaleUp 1s forwards';
                });
            });
        }
        const cookies = document.cookie.split(';').map(cookie => cookie.split('='));
    const userIdCookie = cookies.find(cookie => cookie[0].trim() === 'userId');
    const userId = userIdCookie ? userIdCookie[1] : null;
    let apiUrl = '';


        //카드 설명 함수.
        async function Description() {
            
           if (userId) {
    const apiUrl = `http://localhost:8080/tarot/${userId}`;
    // 여기서 apiUrl을 사용하여 필요한 작업을 수행
    console.log(apiUrl); // apiUrl을 출력하여 확인
    fetch(apiUrl)
        .then(response=>response.text())
        .then(data=>{
            alert(data);
        })
        .catch(error=>console.error('Error',error));
    } else {
    console.log('userId를 찾을 수 없습니다.');
}
        }

        //클릭시 카드 설명 함수 실행.
        document.addEventListener('DOMContentLoaded', function(){
            const container = document.querySelector('.container');
            container.addEventListener('click', async() =>{
                await Description();     
            });
        });
        

        

    </script>
</body>
</html>