<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Cards</title>
    <link rel="stylesheet" href="stylesheets/card.css">
</head>
<body>
    <div class = "header">
        <h2>Today_Card</h2>
        <p>(카드는 하루에 한 장만 뽑을 수 있습니다)</p>
    </div>
   
    <div class="container" onclick="Description()">
        <% for (let i = 1; i <= 8; i++) { %>
            <div class="box box<%= i %> card<%= i %>">
                <img src="/imgs/card.jpeg">
            </div>
        <% } %>
    </div>

    <div class="btn" >
        <input type = "button" value = "뽑기" onclick = "shuffleCards()">
    </div>
    <div class = "footer">
        <input type = "button" value = "홈으로" onclick ="window.location.href = '/ExpertFilter'" >
    </div>

    <script>
        function shuffleCards() {
            const cards = document.querySelectorAll('.container > .box');

            cards.forEach(card => {
                card.style.animation = 'none';
                card.offsetHeight; /* 리플로우 강제 */
                card.style.animation = null;
            });

            cards.forEach((card, index) => {
                setTimeout(() => {
                    card.style.animation = `shuffle${index -1} 3s forwards`;
                }, index * 100);
            });

            cards[cards.length - 1].addEventListener('animationend', () => {
                cards.forEach(card => {
                    card.style.animation = 'scaleUp 1s forwards';
                });
            });
        }

        //카드 설명 fetch
      
        function Description() {
            fetch('/card')//서버로부터 데이터를 받아옴
                .then(res => res.json())//json형태로 변환
                .then(data => {
                    const descriptionValue = data.description;
                    alert(descriptionValue);
                })
                .catch(error =>{console.error(error)}
                );
        }

        

        

        

    </script>
</body>
</html>
