<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reviews</title>
    <link rel = "stylesheet" href = "stylesheets/ExpertInfo.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "/ExpertFilter">예약하기</a></li>
                <li><a href = "/reserveInfo">예약정보</a></li>
                <li><a href = "/mypage">회원정보</a></li>
            </ul>
        </nav>
    </header>
    <h1>선택한<%= userName %>님의 평점은 <%= userRating %>이며</h1>
    <p>리뷰는 다음과 같습니다:</p>
    <ul>
        <% for (let i = 0; i < userReviews.length; i++) { %>
            <li><%= userReviews[i] %></li>
        <% } %>
    </ul>

    <p>예약을 진행하시겠습니까?</p>
    <input type="button" value="예약하기" onclick="location.href='/reservation'">
    <input type="button" value="다시 선택하기" onclick="location.href='/ExpertFilter'">
</body>
</html>
