<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Experts</title>
    <link rel="stylesheet" href="stylesheets/ExpertList.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "/ExpertFilter">예약하기</a></li>
                <li><a href = "/reserveInfo">예약정보</a></li>
                <li><a href = "/mypage">회원정보</a></li>
            </ul>
        </nav>
    </header>
    <h1>"상담할 타로 전문가를 선택해 주세요."</h1>
    <form action="/ExpertInfo" method="">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>이름</th>
                    <th>나이</th>
                    <th>경력</th>
                </tr>
            </thead>
            <!--<tbody>
                <% for (let i = 0; i < tarotExperts.length; i++) { %>
                    <tr>
                        <td>
                            <input type="radio" name="selectedExpert" value="<%= tarotExperts[i].name %>">
                        </td>
                        <td><%= tarotExperts[i].name %></td>
                        <td><%= tarotExperts[i].age %>세</td>
                        <td><%= tarotExperts[i].experience %>년</td>
                    </tr>
                <% } %>
                </tbody>-->
        </table>
        <button type="submit" class="select-button">선택하기</button>
    </form>
</body>
</html>
