<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/index" id="login-form">
            <h1>Login</h1>
            <input type="text" name="Email" placeholder="Email">
            <input type="password" name="Password" placeholder="Password">
            <input type="submit" value="Login">
        </form>

        <div class="register-wrapper">
            <a href="register">회원가입</a>
        </div>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', function (event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음

           const formData = new FormData(document.getElementById('login-form'));
           const email = formData.get('Email');
           const password = formData.get('Password');

           const url = `http://localhost:8080/loginpro?Email=${email}&Password=${password}`;


            
         
        

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
            }).then(response => response.json())
            .then(result => {
                if(result.length ===0){
                    alert('로그인 실패');
                   
                }
                else{
                    const userId = result[0].id;
                    document.cookie = `userId = ${userId}`;
                    alert(`${result[0].name}` + '님 환영합니다');
                    window.location.href = '/card';
                  
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>

</body>
</html>