<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>

    <div class="register-wrapper">
        <form method="post" action="" id="register-form">
            <h1>회원정보 수정</h1>
            
            <input type="password" name="password" placeholder="Password">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="phoneNumber" placeholder="Phone">
            <label><input type="radio" name="sex" value="F"/>여성</label>
            <label><input type="radio" name="sex" value="M"/>남성</label>
            <input type="submit" value="수정하기">
        </form>
    </div>

    <script>
        const registerForm = document.getElementById('register-form');

        registerForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const cookies = document.cookie.split(';').map(cookie => cookie.split('='));
            const userIdCookie = cookies.find(cookie => cookie[0].trim() === 'userId');
            const userId = userIdCookie ? userIdCookie[1] : null;

            if (userId) {
                const userPassword = registerForm.querySelector('input[name="password"]').value;
                const name = registerForm.querySelector('input[name="name"]').value;
                const phone = registerForm.querySelector('input[name="phoneNumber"]').value;
                const sex = registerForm.querySelector('input[name="sex"]:checked').value;

                const apiUrl = `http://localhost:8080/${userId}/modification`;
                const formData = new FormData();
                formData.append('password', userPassword);
                formData.append('name', name);
                formData.append('phoneNumber', phone);
                formData.append('sex', sex);

                try {
                    const response = await fetch(apiUrl, {
                        method: 'POST',
                        body: formData
                    });

                    if (response.status === 201) {
                        alert('Information Modification Success');
                        window.location.href="/mypage";
                        // 성공적으로 수정되었을 때의 처리
                    } else {
                        console.error('서버 응답 오류:', response.status);
                        // 실패했을 때의 처리
                    }
                } catch (error) {
                    console.error('데이터를 전송하는 도중 에러가 발생했습니다:', error);
                    // 에러 발생 시의 처리
                }
            } else {
                console.log('userId를 찾을 수 없습니다.');
            }
        });
    </script>

</body>
</html>