<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "stylesheets/register.css">
</head>
<body>
    
    <div class = "register-wrapper">
        <form method = "post" action = "/login" id = register-form>
            <h1>회원가입</h1>
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password"placeholder="Password">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="phonenumber" placeholder="Phone">
            <input type = "date" name = "birthdate" placeholder = "Birth">
            <label><input type="radio" name="sex" value="F"/>여성</label>
            <label><input type="radio" name="sex" value="M"/>남성</label>
            <input type = "submit" value = "가입하기">
        </form>
    </div>
    <script>
        document.getElementById('register-form').addEventListener('submit', function (event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음

            const email = document.getElementsByName('email')[0].value;
            const password = document.getElementsByName('password')[0].value;
            const name = document.getElementsByName('name')[0].value;
            const phone = document.getElementsByName('phonenumber')[0].value;
            const birth = document.getElementsByName('birthdate')[0].value;
            const sex = document.querySelector('input[name="sex"]:checked').value;

            const params = new URLSearchParams();
            params.append('email', email);
            params.append('password', password);
            params.append('name', name);
            params.append('phonenumber', phone);
            params.append('birthdate', birth);
            params.append('sex',sex);

            fetch('http://localhost:8080/joinpro?'+params.toString(),{
                method: 'POST'
              
            }).then(response =>{
                if(response.status == 201){
                    alert('회원가입성공');
                    window.location.href = '/login'
                }
                else if(response.status== 409){
                    alert('이미 가입된 이메일');
                    window.location.href = '/login'
                }
            })
            .then(result=>{
                if(result)
                    window.location.href='/login';
            })
           
            .catch(error => console.error('Error:', error));
          
        });
    </script>
</body>
</html>
