<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "stylesheets/register.css">
</head>
<body>
    
    <div class = "register-wrapper">
        <form method = "post" action = "/index" id = register-form>
            <h1>회원가입</h1>
            <input type="text" name="Email" placeholder="Email">
            <input type="password" name="userPassword"placeholder="Password">
            <input type="text" name="Name" placeholder="Name">
            <input type="text" name="Phone" placeholder="Phone">
            <input type = "date" name = "Birth" placeholder = "Birth">
            <label><input type="radio" name="Sex" value="female"/>여성</label>
            <label><input type="radio" name="Sex" value="male"/>남성</label>
            <input type = "submit" value = "가입하기">
        </form>
    </div>
    <script>
        document.getElementById('register-form').addEventListener('submit', function (event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음

            const email = document.getElementsByName('Email')[0].value;
            const password = document.getElementsByName('userPassword')[0].value;
            const name = document.getElementsByName('Name')[0].value;
            const phone = document.getElementsByName('Phone')[0].value;
            const birth = document.getElementByName('Birth')[0].value;
            const sex = document.querySelector('input[name="Sex"]:checked').value;

            const params = new URLSearchParams();
            params.append('Email', email);
            params.append('Password', password);
            params.append('Name', name);
            params.append('Phone', phone);
            params.append('Birth', birth);
            params.append('Sex',sex);

            fetch('http://localhost:8080/joinpro?'+params.toString(),{
                method: 'POST'
              
            }).then(response =>{
                if(response.status == 409){
                    alert('이미 존재하는 이메일입니다.');
                }
            })
            .then(result => {
                if(result=='Success'){
                    alert('회원가입 성공');
                    window.location.href = '/login';
                }
                else if(result == 'Failed'){
                    alert('이미 가입된 이메일');
                }
                else{
                    alert('유효하지 않은 응답');
                }
            })
            .catch(error => console.error('Error:', error));
          
        });
    </script>
</body>
</html>

