<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "stylesheets/register.css">
</head>
<body>
    
    <div class = "register-wrapper">
        <form method = "post" action = "/index" id = register-form>
            <h1>회원가입</h1>
            <input type="text" name="Email" placeholder="Email">
            <input type="password" name="userPassword"placeholder="Password">
            <input type="text" name="Name" placeholder="Name">
            <input type="text" name="Phone" placeholder="Phone">
            <input type = "date" name = "Birth" placeholder = "Birth">
            <label><input type="radio" name="Sex" value="female"/>여성</label>
            <label><input type="radio" name="Sex" value="male"/>남성</label>
            <input type = "submit" value = "가입하기">
        </form>
    </div>
    <script>
        document.getElementById('register-form').addEventListener('submit', function (event) {
            event.preventDefault(); // 폼 제출 기본 동작을 막음

            const form = event.target; // 폼 엘리먼트
            const formData = new FormData(form); // 폼 데이터 객체 생성

            const jsonData = {};
            for(const [key,value] of formData.entries()) {
                jsonData[key] = value;
            }

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData) // 폼 데이터를 json 형식으로 변환
            }).then(response => response.json())
            .then(data =>{
                if(data.result === 'success') {
                    window.location.href = '/login'; // 로그인 페이지로 이동
                } else {
                    alert('회원가입 실패');
                }
            })
            .catch(error => console.error('Error:', error));

            
        });
    </script>
</body>
</html>

