
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel = "stylesheet" href = "stylesheets/reservation.css">
    <style>
  
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "/ExpertFilter">예약하기</a></li>
                <li><a href = "/reserveInfo">예약정보</a></li>
                <li><a href = "/mypage">회원정보</a></li>
            </ul>
        </nav>
    </header>
    <p>"요일과 시간을 선택해주세요."</p>
    <form action="/reservation" method="post">
        
        <label for="day">요일</label>
        <% const days = ['월', '화', '수', '목', '금', '토', '일']; %>
        <% for (let i = 0; i < days.length; i++) { %>
            <input type="radio" name="day" value="<%= i + 1 %>"><%= days[i] %><br>
        <% } %>

        <p>&nbsp;</p><!-- 간격 추가 -->

        <label for="time">시간(1시간 단위)</label>
        <% const times = ['오전 9시', '오전 10시', '오전 11시', '오후 12시', '오후 1시', '오후 2시', '오후 3시', '오후 4시', '오후 5시', '오후 6시', '오후 7시', '오후 8시', '오후 9시']; %>
        <% for (let i = 0; i < times.length; i++) { %><br>
            
                <input type="radio" name="time" value="<%= i + 1 + days.length %>"><%= times[i] %>
        
        <% } %>

        <p>&nbsp;</p><!-- 간격 추가 -->

        <input type="submit" value="예약하기">
    </form>
</body>
</html>

