body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 2px solid #ccc
    
}

nav {
    margin:0px;
    padding:20px;
    background-color: #fff;
    width: 100vw;
    height: 5vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-around;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    display : inline-block;
    padding: 10px 20px;
    margin:5px 10px;
    font-size: 20px;
}

nav ul li:nth-child(3) a {
    color: #7D1CAD; /* 변경하고자 하는 색상 */
}

.member-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button {
    margin-top: 20px;
    text-align: center;
}

.button a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 150px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
}

/* 수정하기 버튼 스타일 */
.button a:nth-child(1) {
    background-color: #7D1CAD; /* 수정하기 버튼 배경색 */
}

/* 탈퇴하기 버튼 스타일 */
.button a:nth-child(2) {
    background-color: #FF6347; /* 탈퇴하기 버튼 배경색 */
}

/* 호버 상태 스타일 */
.button a:hover {
    opacity: 0.8;
}